//----browsers-----
.Explorer{
  .map-link{
    &:hover{
      text-decoration: underline;
    }
    &:before{
      display: none;
    }
  }

  .post-excerpt {
    .post-excerpt-title{
      a{
        text-shadow: none;
        box-shadow: none;
        &:hover{
          text-decoration: underline;
        }

      }
    }
  }
  .contact-inf{
    a{
      transition: all $time;
      &:hover{
        color: $basecolor;
      }
      &:before{
        display: none;
      }
    }
  }
  .text-format{
    a{
      text-shadow: none;
      box-shadow: none;
      text-decoration: underline;
      &:hover{
        text-decoration: none;
      }
    }
  }
}

.desktop{
  .mainheader{
    .phone-num{
      pointer-events: none;
    }
  }
}
//------responsive--------
