.post-excerpt{
  margin-bottom: 60px;
  @include r($width-mobile-small){
    margin-bottom: 50px;
  }
  .img-cont{
    display: block;
    margin-bottom: 30px;
    background-size: cover;
    background-position: center;
    height: 220px;
    position: relative;
    @include rm($width-screen-widewide){
      height: 300px;
    }
    @include r($width-tablet-small){
      height: 200px;
    }

    &:before{
      @extend %before;
      @extend %fullsizeabs;
      background: rgba(#fff,0);
      transition: background $time;
    }
    &:after{
      @extend %before;
      height: 6px;
      bottom: 0;
      left: 0;
      width: 0;
      background: $basecolor;
      transition: all .4s;
      opacity: 0;
    }
    &:hover{
      &:before{
        background: rgba(#fff,.2);
      }
      &:after{
        width: 100%;
        opacity: 1;
      }

    }
  }
  .post-excerpt-title{
    text-align: center;
    line-height: 1.3;
    font-family:$font-slabo;
    font-weight: 500;
    font-size: 24px;
    padding: 0 30px;
    @include rm($width-screen-widewide){
      font-size: 28px;
    }
    @include r($width-screen-small){
      font-size: 21px;
      padding: 0 20px;
    }
    @include r($width-tablet-small){
      font-size: 18px;
      padding: 0 15px;
    }


    a{
      color: inherit;
      text-shadow:
              -2px -2px white,
              -2px 2px white,
              2px -2px white,
              2px 2px white;

      box-shadow:
              inset 0 -0.175em white,
              inset 0 -0.2em transparent;
      transition: all $time;
      &:hover{
        box-shadow:
                inset 0 -0.175em white,
                inset 0 -0.2em $textcolor;
      }
    }
  }
  &.big{
    margin-bottom: 80px;
    @include r($width-tablet-small){
      margin-bottom: 60px;
    }
    @include r($width-mobile-small){
      margin-bottom: 50px;
    }
    .img-cont{
      height: 340px;

      @include rm($width-screen-widewide){
        height: 460px;
      }
      @include r($width-tablet-small){
        height: 200px;
      }
    }
    .post-excerpt-title{
      font-size: 30px;
      padding: 0 50px;
      @include rm($width-screen-widewide){
        font-size: 38px;
      }
      @include r($width-screen-small){
        font-size: 25px;
        padding: 0 30px;
      }
      @include r($width-tablet-small){
        font-size: 18px;
        padding: 0 15px;
      }
    }
  }


  &:hover{
    .img-cont{
      &:before{
        background: rgba(#fff,.2);
      }
      &:after{
        width: 100%;
        opacity: 1;
      }

    }
  }
}

.post-on-grey{
  .post-excerpt-title{
    a{
      color: inherit;
      text-shadow:
             none;

      box-shadow:
             none;
      transition: all $time;
      &:hover{
        box-shadow:
               none;
        color: $basecolor;
      }
    }
  }
}