.header-wrap{
  position: relative;
  height: 80px;
  @include rm($width-screen-widewide){
    height: 118px;
  }
  @include r($width-mobile-small){
    height: 71px;
  }

}
.mainheader{
  padding: 15px 30px;
  box-shadow: 0 0 12px 0 rgba(0,0,0,0.1);
  position: absolute;
  z-index: 999;
  width: 100%;
  top: 0;
  left: 0;
  background: #fff;
  @extend %bvh;
  @include rm($width-screen-widewide){
    padding: 20px 40px;
  }
  @include r($width-mobile-small){
    padding-left: 20px;
    padding-right: 20px;
  }
  &.fixed-head{
    position: fixed;
  }
  .logo{
    display: inline-block;
    vertical-align: middle;
    max-width: 180px;
    transition: opacity $time;
    margin-right: 30px;
    @include rm($width-screen-widewide){
      max-width: 260px;
      margin-right: 50px;
    }
    @include r($width-mobile-small){
      max-width: 150px;
      margin-right: 0;
    }
    img{
      display: block;
    }
    &:hover{
      opacity: .85;
    }
  }
  .phone-num{
    font-size: 12px;
    font-weight: 600;
    display: inline-block;
    vertical-align: middle;
    margin-right: 30px;
    color: inherit;
    letter-spacing: 1px;

    @include hoverFromCenter($basecolor,-5,2);
    @include rm($width-screen-widewide){
      font-size: 18px;
    }
    @include r($width-tablet-normal){
      display: none;
    }
  }
  .btn-basecolor{
    margin: 2px 0;
    @include r($width-tablet-normal){
      display: none;
    }
  }
  .hamburger{
    display: none;
    margin: 14px 0;
    @include r($width-tablet-normal){
      display: block;
    }
    @include r($width-mobile-small){
      margin: 10px 0;
    }
  }
}

.mainmenu{
  display: inline-block;
  vertical-align: middle;
  li{
    display: inline-block;
    vertical-align: middle;
    margin-right: 15px;
    font-size: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 600;
    @include rm($width-screen-widewide){
      margin-right: 20px;
      font-size: 18px;
    }
    a{
      color: inherit;
      display: block;
      @include hoverFromCenter($basecolor,-5,2);
    }
    &:last-child{
      margin-right: 0;
    }
  }
  @include r($width-tablet-normal){
    display: none;
  }
}
.mainmenu-home{
  margin-right: 15px;
  @include r($width-screen-wide){
    display: none;
  }
}
.mobile-menu{
  background: $greybg;
  z-index: 9999;
  box-shadow: 0 2px 16px rgba(0,0,0,.3);
  padding: 40px 45px;
  width: 300px;
  color: $textcolor;
  transition:all $time ease-in-out;
  opacity: 0;
  top: 0;
  left: 0;
  visibility: hidden;
  transform:translateX(-300px);
  height: 100vh;
  position: fixed;
  display: none;
  @include r(991){
    display: block;
  }
  @include r(500){
    transform:translateX(-280px);
    padding: 35px 30px;
    width: 280px;
  }
  &.opened{
    transform:translateX(0px);
    visibility: visible;
    opacity: 1;
  }

  ul{
    margin-bottom: 20px;
    li{
      margin-bottom: 20px;
      font-size: 15px;
      color: $textcolor;

      display: block;
      text-transform: uppercase;
      letter-spacing: 1px;
      @include r(500){
        font-size: 14px;
      }
      a{
        color: inherit;
        display: inline-block;
        transition: color $time;
        &:hover{
          color: $basecolor;
        }
      }
    }
  }
  .btn-orange-transp{
    width: 100%;
    margin-bottom: 40px;
  }
  .btn-basecolor{
    width: 100%;
    margin-top: 20px;
  }
}