//	Variables


$width-screen-widewide: 1900;
$width-screen-wide: 1366;
$width-screen-normal: 1280;
$width-screen-small: 1060;
$width-tablet-wide: 960;
$width-tablet-normal: 840;
$width-tablet-small: 770;
$width-mobile: 660;
$width-mobile-small: 480;



$time: .3s;

$basecolor: #4cc4d5;
$basecolor-lighter:#d4eff2;
$basecolor-dark:#0c4a7c;
$textcolor:#0E2E47;
$textcolor-light:rgba(14,46,71,0.7);
$textcolor-light2:rgba(14,46,71,0.5);

$greybg:#f9f9f9;
$bordercolor: #d0d0d0;

$fbcolor:#3B5998;
$twcolor:#5EA9DD;
$pincolor:#bd0a38;
$vkcolor:#4B74A5;
$linkedincolor:#0177B5;
$gpcolor:#DC483C;
$pocketcolor:#ED4054;
$rsscolor:#FF9900;

$font: 'Signika', sans-serif;
$font-slabo:'Slabo 27px', serif;
